doctype html
html(lang='en')
  head
    title Urban Beats
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    script(type='text/javascript').
      function disableHandler (form, inputName) {
      var inputs = form.elements[inputName];
      for (var i = 0; i < inputs.length; i++) {
      var input = inputs[i];
      input.onclick = function (evt) {
      if (this.checked) {
      disableInputs(this, inputs);
      }
      else {
      enableInputs(this, inputs);
      }
      return true;
      };
      }
      }
      function disableInputs (input, inputs) {
      for (var i = 0; i < inputs.length; i++) {
      var currentInput = inputs[i];
      if (currentInput != input) {
      currentInput.disabled = true;
      }
      }
      }
      function enableInputs (input, inputs) {
      for (var i = 0; i < inputs.length; i++) {
      var currentInput = inputs[i];
      if (currentInput != input) {
      currentInput.disabled = false;
      }
      }
      }
    // Bootstrap core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    style(type='text/css').
      /* make sidebar nav vertical */
      @media (min-width: 768px) {
      .sidebar-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
      }
      .sidebar-nav .navbar ul {
      float: none;
      }
      .sidebar-nav .navbar ul:not {
      display: block;
      }
      .sidebar-nav .navbar li {
      float: none;
      display: block;
      }
      .sidebar-nav .navbar li a {
      padding-top: 12px;
      padding-bottom: 12px;
      }
      }
      @media (min-width: 768px) {
      /* uncomment if you would like the menu to be fixed */
      /* .navbar {
      position: fixed;
      width: 170px;
      z-index: 2;
      } */
      }
      @media (min-width: 992px) {
      .navbar {
      width: 212px;
      }
      }
      @media (min-width: 1200px) {
      .navbar {
      width: 262px;
      }
      }
      .sidebar-nav .navbar-header{ float: none; }
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      script(src='../../assets/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    .container
      .row
        .col-xs-12
          nav.navbar.navbar-default.topnav(role='navigation')
            .container.topnav
              .navbar-header
                a.navbar-brand.topnav1(href='index.html')
                  b Urban Beats
      .row
        .col-sm-3
          .sidebar-nav
            .navbar.navbar-default(role='navigation')
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                span.visible-xs.navbar-brand Sidebar menu
              .navbar-collapse.collapse.sidebar-navbar-collapse
                ul.nav.navbar-nav
                  li.active
                    a(href='#') Refine your taste!
                  .container
                    li Rating
                    form(name='aForm', role='form')
                      .checkbox
                        label
                          input(type='checkbox', value='', name='finallevelusers[]', onclick='this.form.submit();')
                          | ≥ 4.0
                      .checkbox
                        label
                          input(type='checkbox', value='', name='finallevelusers[]', onclick='this.form.submit();')
                          | ≥ 3.0
                    li Budget
                    form(name='bForm', role='form')
                      .checkbox
                        label
                          input(type='checkbox', value='', name='finallevelusers[]', onclick='this.form.submit();')
                          | < $10
                      .checkbox
                        label
                          input(type='checkbox', value='', name='finallevelusers[]', onclick='this.form.submit();')
                          | > $10
                  //
                    <li><a href="#">Menu Item 4</a></li>
                    <li><a href="#">Reviews <span class="badge">1,118</span></a></li>
                // <form class="navbar-form navbar-left" role="search">
                // <button type="submit" class="btn btn-default">Submit</button>
                // </form>
              // /.nav-collapse
        .col-sm-9
          .table-responsive
            table.table
              thead
                tr.headings
                  th
                    | Company Name
                  th Details
              tbody
                tr
                  td
                    p Company 1
                  td
                    p Detail 1
                tr
                  td
                    p Company 2
                  td
                    p Detail 2
                tr
                  td
                    p Company 3
                  td
                    p Detail 3
            button.btn.btn-default.btn-lg(type='submit') Notify All
      // /.container
      //
        Bootstrap core JavaScript
        ==================================================
      // Placed at the end of the document so the pages load faster
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
      script(src='stylesheets/bootstrap.min.js')
  script(type='text/javascript').
    disableHandler(document.forms.aForm, 'finallevelusers[]');
    disableHandler(document.forms.bForm, 'finallevelusers[]');
