doctype html(lang='en')
head
    title Urban Beats
    |     
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    script(src='js/test2.js')
    |     
    link(href='stylesheets/newstyle.css', rel='stylesheet')
    |     
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')   
  body
    .container
      .row
        .col-xs-12
          nav.navbar.navbar-default.topnav(role='navigation')
            .container.topnav
              .navbar-header
                a.navbar-brand.topnav1(href='index.html')
                  b Urban Beats
      |     
      .row
        .col-sm-3
          .sidebar-nav
            .navbar.navbar-default(role='navigation')
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-navbar-collapse')
                  span.sr-only Toggle navigation
                  |               
                  span.icon-bar
                  |               
                  span.icon-bar
                  |               
                  span.icon-bar
                |               
                span.visible-xs.navbar-brand Sidebar menu
              |             
              .navbar-collapse.collapse.sidebar-navbar-collapse
                ul.nav.navbar-nav
                  li.active
                    a(href='#') Refine your taste!
                  |                 
                  .container
                    li Rating
                    |                   
                    form(name='aForm', role='form')
                      .checkbox
                        label
                          input(type='checkbox', onclick="window.location='http://www.google.com'; return true;")
                          | &ge; 4.0
                      |                     
                      .checkbox
                        label
                          input(type='checkbox', onclick="window.location='http://www.google.com'; return true;")
                          | &ge; 3.0
                    |                   
                    li Ambience
                    |                   
                    .checkbox
                      label
                        input(type='checkbox', onclick="window.location='http://www.google.com'; return true;")
                        | Casual
                    |                     
                    .checkbox
                      label
                        input(type='checkbox', onclick="window.location='http://www.google.com'; return true;")
                        | Romance
                    |                   
                    .checkbox
                      label
                        input(type='checkbox', onclick="window.location='http://www.google.com'; return true;")
                        | Classy
                    |                     
                    .checkbox
                      label
                        input(type='checkbox', onclick="window.location='http://www.google.com'; return true;")
                        | Trendy
                    li Takeout
                    |                   
                    .checkbox
                      label
                        input(type='checkbox', onclick="window.location='http://www.google.com'; return true;")
                        | Yes
                    li Delivery
                    |                   
                    .checkbox
                      label
                        input(type='checkbox', onclick="window.location='http://www.google.com'; return true;")
                        | Yes
                    li Alcohol
                    |                   
                    .checkbox
                      label
                        input(type='checkbox', onclick="window.location='http://www.google.com'; return true;")
                        | Yes
                    li Parking
                    |                   
                    .checkbox
                      label
                        input(type='checkbox', onclick="window.location='http://www.google.com'; return true;")
                        | Yes
                    li Outdoor Seating
                    |                   
                    .checkbox
                      label
                        input(type='checkbox', onclick="window.location='http://www.google.com'; return true;")
                        | Yes
        |       
        .col-sm-9
          table.table1
            thead
              tr.headings
                th
                  | All You Want
            |           
            tbody
              tr
                td
                  | Company 1
                  br
                  | Address 1
                  br
                  | Ratings 1
                  br
                  | Total Reviews 1
                  br
                  p
                    a#example-show.showLink(href='#', onclick="showHide('example');return false;") See Pictures
                  |       
                  #example.more
                    iframe(src='pictures.html', width='400', height='250')
                    |          
                    p
                      a#example-hide.hideLink(href='#', onclick="showHide('example');return false;") Hide Pictures
              |             
              tr
                td
                  | Company 2
              |             
              tr
                td
                  | Company 3
          |         
          br
          |         
          button.btn.btn-default.btn-lg(type='submit') Notify All
        |       
        .pos_fixed
          .col-sm-3
            .sidebar-nav
              .navbar.navbar-default(role='navigation')
                .navbar-header
                  button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-navbar-collapse')
                    span.sr-only Toggle navigation
                    |                 
                    span.icon-bar
                    |                 
                    span.icon-bar
                    |                 
                    span.icon-bar
                  |                 
                  span.visible-xs.navbar-brand Sidebar menu
                |               
                .navbar-collapse.collapse.sidebar-navbar-collapse
                  ul.nav.navbar-nav
                    li.active
                      a(href='#') Premium Flyers
                    |                   
                    .container
                      li Flyer1
                      |                     
                      br
                      |                     
                      li Flyer2
                      |                     
                      br
                      |                     
                      li Flyer3
                      |                     
                      br
      |     
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
      |     
      script(src='js/bootstrap.min.js')   
  script(type='text/javascript').
    disableHandler(document.forms.aForm, 'finallevelusers[]');
    disableHandler(document.forms.bForm, 'finallevelusers[]');
